html,
body {
    height:100%;
    font-size:14px;
}

a {
    color: #b70800;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color:#000000;
}

.btn:focus,
.btn:active,
.btn:hover {
    outline:none;
}

.badge-info, .label-info, .bg-info, .btn-info {
    background-color: #47cbe0 !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

html {
    background: #f5f5f5; 
    /*
    background: -webkit-linear-gradient(white, #d4d4d4);
    background: -o-linear-gradient(white, #d4d4d4);
    background: -moz-linear-gradient(white, #d4d4d4);
    background: linear-gradient(white, #d4d4d4);
    */
}

body {
    margin: 0;
    background:#f9f9f9;
}

#content-loader {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -40px;
    height: 34px;
    padding: 5px 10px;
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#header {
    position: relative;
}

.container {
    margin: 0 auto;
}

h1.site-title {
    text-align: left;
    font-size:24px;
    margin-top:40px;
}

#sidebar {
    background: #d80e06;
    height:100%;
}

#sidebar .menu-block {
    border-top: 1px solid #e0413b;
}

#sidebar h2 {
    margin-top: 0;
    margin-bottom:0;
    padding: 10px 10px 10px 20px;
    background: #c61009;
    font-size:16px;
    font-weight: bold;
    color:white;
    border-bottom: 1px solid #ea2d25;
}

#sidebar .menu-handler {
    background: #fdde00;
    color: #dd3731;
    border-top:none;
    font-size: 16px;
    padding:5px 20px;
    font-weight: bold;
}

#sidebar a {
    color:#ffffff;
    padding: 5px;
    padding-left: 20px;
}

#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
    color:#fdde00;
    background-color: #da251d;
}

#sidebar li a.active {
    background: #fdde00;
    color: #232323;
}

#sidebar > #app-navbar-collapse {
    padding:0;
    margin:0;
}

#body-wrapper {
    padding-left:0;
    border-top-left-radius: 23px;
}

#content {
    min-height: 560px;
    padding:20px;
    background:#ffffff;
}

#app .navbar {
    height:60px;
}

#logo {
    display: inline-block;
    width:100%;
    padding:10px;
}

#logo img {
    margin:0 auto;
    height:100px;
}

#general-page #logo img {
    height:auto;
}

#login-page #logo img {
    height:180px;
}

.nav-pills>li.active {
    z-index: 1;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #ffffff;
    background: -webkit-linear-gradient(left, #fdde00 , white);
    background: -o-linear-gradient(right, #fdde00, white);
    background: -moz-linear-gradient(right, #fdde00, white);
    background: linear-gradient(to right, #fdde00 , white);    
    font-weight: bold;
    color: #000000 !important;
}

.nav-pills>li>a {
    border-radius: 0px; 
    font-size:14px;
    padding:7px;
    padding-left:20px;
}

.nav-stacked>li+li {
    margin-top: 0;
    margin-left: 0;
}

.card {
    margin-bottom: 22px;
    background-color: #f7f7f7;
    border-radius: 0px;
    border:none;
    box-shadow:none;
}

.card-default>.card-header {
    color: #4a4012;
    background-color: #fdde00;
    /* border-bottom: 3px solid #b70800; */
    font-weight: bold;
    border-color: #dcc100;
}

.card-header {
    border-bottom: 1px solid transparent;
    border-radius:0; 
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    font-weight: bold;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background-color: #dcdcdc;
}

.tab-content {
    background: #dcdcdc;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 20px;
}

.btn {
    border-radius:0;
    margin-bottom: 3px;
}

.btn-primary, 
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.active:active {
    color: #fff;
    background-color: #ed1c24;
    border-color: #bd0303;
    outline:none;
}

.btn-default, .btn-secondary {
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #888;
}

.form-control {
    border-radius:0;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

input[type=file] {
    padding:3px !important;
}

#summary-info .well {
    overflow: hidden;
    border: none;
    border-radius: 0;
    background:#e2e2e2;
}

.well {
    box-shadow:none;
}

#login-form-wrapper {
    max-width:410px;
    margin:0 auto;
}

/*
ul.user-menu {
    position: absolute;
    top:10px;
    right: 10px;
    cursor:pointer;
    padding:0;
    margin:0;
}
*/

ul.user-menu > li {
    list-style:none;
    float:left;
    position: relative;
    padding:0 10px;
    margin:0 10px;
}

ul.user-menu li ul {
    width:150px;
}

ul.user-menu li:last-child {
    padding-right:0;
    margin-right:0;
}

a.add-sales {
    margin-top:-4px;
    margin-right:-11px;
    margin-left:15px;
}

h1.title {
    font-size: 24px;
    margin: 0;
    margin-top:10px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-left: 5px solid #d80e06;
}

h2.branch,
h2.datetime {
    font-size:14px;
    margin-top:0;
}

.transaction-action a {
    display: block;
    width: 100%;
    background: #d80e06;
    text-align: center;
    height: 100px;
    color:#ffffff !important;
    font-weight: bold;
    padding-top:25px;
    margin:0;
}

.transaction-action a span {
    font-size:30px;
}

/* Homepage */
.homepage #summary-info h3 {
    text-align: right;
}

/* SALES EDIT FORM */

form#add-sales ul.nav,
form#add-preorder ul.nav,
form#edit-preorder ul.nav {
    border-bottom:none;
}
form#add-sales .tab-content,
form#add-preorder .tab-content,
form#edit-preorder .tab-content {
    margin-top:1px;
}

#add-sales .nav-tabs .nav-link.active,
#add-preorder .nav-tabs .nav-link.active,
#edit-preorder .nav-tabs .nav-link.active {
    color: #1d1d1d;
    background-color: #fdde00;
    border-color: #fdde00;
    font-weight: bold;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #ffd100;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #b70800;
    background-color: #ffd100;
    border-color: #ffd100;
    box-shadow: none;
}

#pjp-form .btn-primary:not([disabled]):not(.disabled).active,
#pjp-form .btn-primary:not([disabled]):not(.disabled):active,
#pjp-form .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ed1c24;
    border-color: #bd0303;
    box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
    border: 1px solid #ced4da;
    background: #f7f7f7;
}

.btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #d80e06;
}

.select2-container--default .select2-selection--single {
    border-radius:0;
    border:none;
    padding:2px;
}

.select2-container .select2-selection--single {
    height:auto;
}

/* PRE-ORDER */
.preorder-device-thumbnail {
    border: 1px solid #a5a5a5;
    height: 123px;
    width: 130px;
    overflow: hidden;
}

.preorder-device,
.preorder-plan,
.preorder-bank-promo {
    margin-bottom:5px;
    padding-bottom: 5px;
}

.pre-order-tab {
    background: #fff !important;
    border:none;
}

.preorder-countdown {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background: #ececec;
    /* border: 1px solid #c5c5c5; */
    padding: 20px;
}

#clock h1 {
    margin-top:0;
    font-size: 42px;
    font-family:impact, 'sans-serif';
    color: #ee8300;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

/* Dashboard page */

#dashboard {
    background:#f9f9f9;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#dashboard-page .dashboard-time {
    position: absolute;
    top:10px;
    right:10px;
}

#dashboard-page ul.user-menu {
    position: absolute;
    top: 30px;
    right:10px;
}

#dashboard-page ul.main-menu li {
    float:left;
    list-style: none;
    text-align: center;
}

#dashboard-page ul.main-menu li a {
    font-size: 20px;
    padding: 20px;
    display: block;
    color:#888888;
}

#dashboard-page ul.main-menu li a.active,
#dashboard-page ul.main-menu li a:hover,
#dashboard-page ul.main-menu li a:active {
    color:#b70800;
}

#dashboard-page .chart-block {
    padding:10px;
    background:#ececec;
}

#dashboard-page .chart-block {
    margin-top: 20px;
}

/* Dashboard Store */
#dashboard-store ul {
    padding:0;
    margin:0;
}

#dashboard-store ul.store-list li {
    list-style: none;
    float:left;
}

#dashboard-store ul.store-list li .store-item {
    width: 355px;
    background: #dedede;
    padding: 20px;
    margin: 5px;
}

#dashboard-store ul.store-list li .store-item:hover {
    background:#eaeaea;
}

#dashboard-store ul.store-list li a {
    color:#000000;
}

#dashboard-store ul.store-list li a:hover {
   text-decoration: none;
}

#dashboard-store .progress {
    height:5px !important;
}

#dashboard-store .modal-content {
    border-radius: 0;
    background: #e2e2e2;
}

/* Config Page */
ul.permission-list {
    margin:0;
    padding:0;
}

ul.permission-list li {
    list-style:none;
}

#roles-page ul.role-permissions {
    padding:0;
}

#roles-page ul.role-permissions li {
    float: left;
    list-style-position: outside;
    margin-left: 24px;    
}

table#webtools-detail-data tr th,
table#webtools-detail-data tr td {
    border:none;
}

/* Sales Page */
table table tbody tr th,
table table tbody tr td {
    border:none !important;
}

table table {
    margin-bottom:0 !important;
}

#startdate, #enddate {
    width: 100px;
}

.transaction-detail table tbody tr th,
.transaction-detail table tbody tr td {
    padding:3px;
}

#footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

/* USER PROFILE */
#user-profile-page .form-group,
#user-change-password-page .form-group {
    padding:10px;
}

#user-profile-page .form-control,
#user-change-password-page .form-control {
    margin:5px 0px;
}

/* PJP */

table#pjp-log-history thead th {
    color: #ffffff;
    background: #b3b3b3;    
}

.required {
    color: #da292c;
    font-size: 10px;
}

.mobile.required {
     position: absolute;
     left:0px;
     top:10px;
}

#agent-pjp-plan .pjp-plan-status {
    padding-left: 0;
}

/* ACTIVATION */
#activation-info .info-box {
    position: relative;
    padding: 10px;
    height: 70px;
    border-radius: 0px;
    border:none;
    color: #fff;
}

#activation-info .info-box span {
    position: absolute;
    left:10px;
    top:5px;
    font-size: 12px;
}

#activation-info .info-box a {
    color:#fff;
}

#activation-info .info-box div {
    font-size:38px;
    text-align: center;
    font-family: impact, 'sans-serif';
    margin-top:5px;
}

#activation-info .info-box.bg-default {
    background-color: #e2e2e2;
}

#queue-counter.info-box {
    width: 120px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    color: #fff;
}

#queue-counter div {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: impact, 'sans-serif';
    line-height: 54px;
}

ul#activation-status-item,
ul#inventory-transfer-notes-item {
    padding:0;
}

ul#activation-status-item li,
ul#inventory-transfer-notes-item li {
    list-style-type: none;
    border-left: 5px solid #e2e2e2;
    padding-left:5px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
}

ul#activation-status-item li:last-child,
ul#inventory-transfer-notes-item li:last-child {
    list-style-type: none;
    border-left: 5px solid #e2e2e2;
    padding-left:5px;
    margin-bottom: 5px;
    background-color: #d1fbea;
}

ul#activation-status-item li span.date {
    font-size:12px;
}

ul#activation-status-item li span.type,
ul#inventory-transfer-notes-item li span.type {
    font-weight: bold;
}

#activation-pool td a.btn-primary,
#activation-log td a.btn-primary,
.info-status td a.btn-primary {
    background-color: #3097d1;
    border:1px solid #3097d1;
}

#activation-pool td a.btn {
    border-radius: 3px;
}

td a.active.replied {
    border: 3px solid green;
}

#activation-monitor {
    padding:0;
}

#activation-monitor .info-box {
    padding:10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}

#activation-monitor .info-box.bg-warning {
    background-color:  orange;
    color:#ffffff;
}

#activation-monitor .info-box.bg-info {
    background-color:  #729fbb;
    color:#ffffff;
}

#activation-monitor .info-box.bg-primary {
    background-color:  #157db7;
    color:#ffffff;
}

#activation-monitor .info-box.bg-success {
    background-color:  green;
    color:#ffffff;
}

#activation-monitor .info-box.bg-danger {
    background-color:  red;
    color:#ffffff;
}

#activation-monitor .info-box.bg-default {
    background-color:  #adadad;
    color:#ffffff;
}

#activation-monitor .col-md-4 {
    margin-top:8px;
}

#activation-monitor a {
    color:#ffffff;
}

#activation-monitor .status-info {
    border: 1px solid rgb(226, 226, 226);
    padding: 0px 10px 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px
}

.status-attachment {
    float: right;
    width: 60px;
    margin-right: 5px;
    margin-top: -18px;
    height: 35px;
    overflow: hidden;    
}

.display-user-name {
    display: inline-block;
    width:160px;
    text-align: right;
}

.status-replied, .status-rcm-replied {
    width: 12px;
    height: 12px;
    background: red;
    position: absolute;
    top: -5px;
    left: -10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);   
}

.status-rcm-replied {
    color: yellow;
    font-size: 14px;
    line-height: 10px;
}

.info-box {
    position: relative;
}

.store-status-rcm-replied {
    width: 12px;
    height: 12px;
    background: red;    
    position: absolute;
    font-size: 14px;
    line-height: 10px;
    padding-left:4px;    
    top: 10px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);     
}

#disclaimer ul {
    padding: 0;
    margin: 0;
}

/* #disclaimer ol li {
    list-style-type: 
} */

.js-signature {
    position: relative;
    padding: 0px;
}

.js-signature span {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -10px;
}

/* INVENTORY */
.inventory-status-info {
    margin:0;
    padding:0;
}
.inventory-status-info li {
    float: left;
    list-style-type: none;
    padding: 5px;
}

#store-stock a {
    color: #000000;
}

#store-stock a:hover {
    text-decoration: none;
    color:#ed1c24;
}

/* STORE AUDIT REPORT */
table#pjp-report {
    table-layout: fixed;
    width:4000px;
}

table#pjp-report th {
    padding:5px;
    text-align: center;
    background-color: #cccccc;
}

table#pjp-report td {
    padding:5px;
}

/* Activity Log */
table#activity-stream.table>thead>tr>th {
    border: none;
}
table#activity-stream {
    background: #505050;
    color: lightgreen;
    font-size: 12px;
}
table#activity-stream td {
    padding:1px;
    border: none;
}
table#activity-stream td:first-child {
    padding-left:10px;
}
table#activity-stream.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #505050;
}
table#activity-stream.table-hover>tbody>tr:hover {
    background-color: #d45555;
}

/* Config Page */
#config-user.tab-content {
    border:none;
    background: transparent;
    padding: 20px 0;
}

ul.role-permissions li {
    float: left;
    margin-right: 30px;
}

/* Chosen select theme */
.chosen-container.chosen-container-single .chosen-single{
    display:block;
    width:auto;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.388571429;
    color:#555;
    vertical-align:middle;
    background-image:none;
    border:none;
    border:1px solid #DDD;
    box-shadow:none;
    border-radius:0px;
    margin-right:5px;
}

.chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000
}

.chosen-container.chosen-container-single.chosen-disabled .chosen-single{
    background-color:#EEE;
    color:black
}

.chosen-container .chosen-drop{
    background-color:#FFF;
    box-shadow:0 6px 12px rgba(0,0,0,0.175);
    background-clip:padding-box;
    margin:2px 0 5px 0;
    border:none;
    border-radius:0px
}

.chosen-container .chosen-search{
    padding:1px 4px 3px 4px
}

.chosen-container .chosen-search input[type=text]{
    display:block;
    width:100%;
    height:30px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.388571429;
    color:#555;
    vertical-align:middle;
    background-color:#FFF;
    border:none;
    border-radius:0px;
    box-shadow:none;
    -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
    margin:0px
}

.chosen-container .chosen-results{
    margin:1px 0 0 0;
    padding:0px;
    font-size:14px;
    list-style:none;
    background-color:#fff
}

.chosen-container .chosen-results li{
     display:block;
     padding:5px 20px;
     clear:both;
     font-weight:normal;
     line-height:1.388571429;
     color:#333;
     background-image:none
 }

.chosen-container .chosen-results li.active-result{
    display:block;
    padding:5px 20px;
    clear:both;
    font-weight:normal;
    line-height:1.388571429;
    color:#333;
    background-image:none
}

.chosen-container .chosen-results li:hover,
.chosen-container .chosen-results li.active-result:hover,
.chosen-container .chosen-results li.highlighted{
    color:#FFF;
    text-decoration:none;
    background-color:#428BCA;
    background-image:none
}

.chosen-container.chosen-container-multi .chosen-results li.result-selected{
    display:list-item;
    color:#ccc;
    cursor:default;
    background-color:white
}

.chosen-container.chosen-container-multi .chosen-choices{
    display:block;
    width:100%;
    min-height:32px;
    font-size:14px;
    line-height:1;
    color:#555;
    vertical-align:middle;
    background-color:#FFF;
    border:0px;
    border:1px solid #DDD;
    border-radius:0px;
    box-shadow:none;
    -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none
}

.chosen-container.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    padding:5px 0
}

.chosen-container.chosen-container-multi .chosen-choices li.search-choice{
    padding:3px 24px 6px 5px;
    margin:5px 0px 0 5px;
    font-size:14px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border:none;
    border-radius:0px;
    color:#333;
    box-shadow:none
}

.chosen-container.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    top:6px;
    right:8px
}

.chosen-container.chosen-container-multi.chosen-disabled .chosen-choices{
    background-color:#EEE;
    color:black
}

.chosen-container.chosen-container-multi.chosen-disabled .chosen-choices li.search-choice{
    padding-right:5px;
    background-color:#EEE
}

.chosen-container.chosen-container-multi.chosen-disabled .chosen-choices li.search-choice .search-choice-close{
    display:none
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    #logo img {
        height:auto;
    }

    h1.site-title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    ul.user-menu {
        position: relative;
        top:10px;
        width:auto;
    }

    h2.datetime {
        float: none !important;
        text-align: left;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    #body-wrapper {
        background: grey;
        padding-right:0;
    }

    #dashboard-page #logo {
        text-align: center;
    }

    #dashboard-page #logo img {
        width: 150px;
    }

    #dashboard-page ul {
        padding:0 ;
    }

    #dashboard-page ul.main-menu li a {
        padding: 10px !important;
    }

    #dashboard-page .chart-block {
        margin-top: 10px;
    }

    #dashboard {
        padding:0;
        background: none;
        box-shadow: none;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    #logo {
        margin: 0 auto;
        padding:0;
    }

    #logo img {
        height:auto;
    }


    h1.site-title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    ul.user-menu {
        position: relative;
        top:0;
        width:auto;
        float: right;
    }

    h2.datetime {
        float: none !important;
        text-align: left;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    #body-wrapper {
        background: grey;
        padding-right: 0;
    }

    #dashboard-page #logo {
        text-align: center;
    }

    #dashboard-page #logo img {
        width: 150px;
    }

    #dashboard-page ul {
        padding:0 ;
    }

    #dashboard-page ul.main-menu li a {
        padding: 10px !important;
    }

    #dashboard {
        padding:0;
        background: none;
        box-shadow: none;
    }

    #dashboard-page .chart-block {
        margin-top: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    #logo img {
        height:auto;
    }

    #sidebar ul.nav {
        display: none;
    }

    #sidebar h2 {
        display: none;
    }

    #sidebar h2:first-child {
        display: block;
    }

    h1.site-title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    ul.user-menu {
        position: relative;
        width:auto;
        float: right;
    }

    h2.datetime {
        float: none !important;
        text-align: left;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    #body-wrapper {
        background: grey;
        padding-right: 0;
    }

    #dashboard-page #logo {
        text-align: center;
    }

    #dashboard-page #logo img {
        width: 150px;
    }

    #dashboard-page ul {
        padding:0 ;
    }

    #dashboard-page ul.main-menu li a {
        padding: 10px !important;
    }

    #dashboard {
        padding:0;
        background: none;
        box-shadow: none;
    }

    #dashboard-page .chart-block {
        margin-top: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}